@inject NavigationManager NavigationManager
@inject IProjectService ProjectService

<div class="input-group">
    <input @bind-value="searchTerm"
           @bind-value:event="oninput"
           type="search"
           list="projects"
           @onkeyup="HandleSearch"
           class="form-control"
           placeholder="Search"
           @ref="searchInput" />
    <!-- ID matches list attribute -->
    <datalist id="projects">
        @foreach (var suggestion in searchSuggestions)
        {
            <option>@suggestion</option>
            
        }

    </datalist>
    <div class="input-group-append">
        <button class="btn btn-primary" @onclick="SearchProjects">
            <span class="oi oi-magnifying-glass"></span>
        </button>
    </div>
</div>

@code {
    private string searchTerm = string.Empty;
    private List<string> searchSuggestions = new List<string>();
    protected ElementReference searchInput;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await searchInput.FocusAsync();
        }
    }

    public void SearchProjects()
    {
        NavigationManager.NavigateTo($"search/{searchTerm}");
    }

    public async Task HandleSearch(KeyboardEventArgs args)
    {
        if(args.Key == null || args.Key.Equals("Enter"))
        {
            SearchProjects();
        }else if(searchTerm.Length > 1)
        {
            searchSuggestions = await ProjectService.GetProjectSearchSuggestions(searchTerm);
        }
    }
}
