.show-menu[b-5hhj7e13ed]{
    display: block;
}

.user-button[b-5hhj7e13ed]{
    margin-left: .5em;
}

.top-row a[b-5hhj7e13ed]{
    margin-left: 0;
}

.dropdown-item:hover[b-5hhj7e13ed]{
    background-color: gray;
}
