<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/869ffc6b-6c4c-408f-8024-867471f4757f/resourcegroups/attempt1000/providers/Microsoft.ContainerRegistry/registries/CRUDBlazorAppServer20230921211537</ContainerResourceId>
    <ContainerResourceName>CRUDBlazorAppServer20230921211537</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>crudblazorappserver20230921211537.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>crudblazorappserver</ContainerName>
    <EnvironmentName>CRUDBlazorAppServer-env-20230921211407</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://crudblazorappserver-app-20230921.jollysea-80dc003f.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/869ffc6b-6c4c-408f-8024-867471f4757f/resourceGroups/attempt1000/providers/Microsoft.App/containerApps/crudblazorappserver-app-20230921</ResourceId>
    <ResourceGroup>attempt1000</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>