<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/869ffc6b-6c4c-408f-8024-867471f4757f/resourcegroups/blazorApp921/providers/Microsoft.Web/sites/CRUDBlazorAppServer20230921210825</ResourceId>
    <ResourceGroup>blazorApp921</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://crudblazorappserver20230921210825.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9f99dca8-6a04-4531-a7cd-f6cd2b0e89fe</ProjectGuid>
    <PublishUrl>https://crudblazorappserver20230921210825.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CRUDBlazorAppServer20230921210825</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>